<% if current_user %>
<h2>Bem vindo ao Personnel Manager</h2>
<%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
&nbsp;
<%= link_to 'Pessoal Cadastrado', controller: 'employees' %>

<% else %>
<h2>Faça login para começar</h2>
<%= #link_to 'Sign up', new_user_registration_path %>
&nbsp;
<%= link_to 'LOGIN', new_user_session_path %>
</br>


<%=  %>

<% end %>

